<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    <title>Document</title>
</head>

<body>

    <nav class="navigation">
        <div class="navigation-static">
            <a href="/" aria-current="page" class="logo w-inline-block w--current">
                <img src="logo.png" alt="" class="navigation-logo" />
            </a>
            <button class="button"><b>Register</b></button>
        </div>
        <div class="navigation-sticky">
            <a href="/" aria-current="page" class="logo w-inline-block w--current">
                <img src="logo.png" alt="" class="navigation-logo" />

            </a>
        </div>
    </nav>
    <section class="hero-section">
        <div class="hero-container">
            <div class="mobile-image"></div>
            <div class="hero-message">
                <div class="hero-text">Your Getaway to<br><br>Cutting-edge Research</div>
                <br>
                <br>
                <button class="btn">Get Started For Free</button>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="main-container flex">
            <div class="authetication-section">
                <p class="authentication-message">
                    Get personalised research paper recommendations delivered to your inbox weekly
                    <br>
                    Don't miss out on the latest advancements in your field of interest.
                </p>
            </div>
        </div>
    </section>
    <h1 style="color: white;text-align: center;">TOPICS</h1>
    <div class="row">
        <div class="column">
            <div class="banan">
                <a> <img src="bm.png" height="550px" width="250px"> </a>
            </div>
        </div>
        <div class="column">
            <div class="banan">
                <a> <img src="cs.png" height="550px" width="250px"> </a>
            </div>
        </div>
        <div class="column">
            <div class="banan">
                <a> <img src="edu.png" height="550px" width="250px"> </a>
            </div>
        </div>
        <div class="column">
            <div class="banan">
                <a> <img src="es.png" height="550px" width="250px"> </a>
            </div>
        </div>

        <div class="column">
            <div class="banan">
                <a> <img src="lit.png" height="550px" width="250px"> </a>
            </div>
        </div>
        <div class="column">
            <div class="banan">
                <a> <img src="geo.png" height="550px" width="250px"> </a>
            </div>
        </div>
        <div class="column">
            <div class="banan">
                <a> <img src="psych.png" height="550px" width="250px"> </a>
            </div>
        </div>
        <div class="column">
            <div class="banan">
                <a> <img src="law.png" height="550px" width="250px"> </a>
            </div>
        </div>
        <br>
        <div class="column">
            <div class="banan">
                <a> <img src="chem.png" height="550px" width="250px"> </a>
            </div>
        </div>
        <div class="column">
            <div class="banan">
                <a> <img src="math.png" height="550px" width="250px"> </a>
            </div>
        </div>
        <div class="column">
            <div class="banan">
                <a> <img src="hist.png" height="550px" width="250px"> </a>
            </div>
        </div>
        <div class="column">
            <div class="banan">
                <a> <img src="other.png" height="550px" width="250px"> </a>
            </div>
        </div>
    </div>
</body>
</body>

</html>
